{% extends "index.html" %}

{% block content %}
    {% if passengers %}
        <div class="bookings">
            {% for passenger in passengers %}
                <div class="card" style="margin-bottom: 30px">
    <div class="card-header">
        <div class="row" style="text-align: center">
            <div class="col-1 d-flex align-items-center justify-content-center">
                <h6>Passport</h6>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-center">
                <h6>Passenger</h6>
            </div>
            <div class="col-1 d-flex align-items-center justify-content-center">
                <h6>Flight Number</h6>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-center">
                <h6>Departure</h6>
                
            </div>
            <div class="col-1 d-flex align-items-center justify-content-center">
                <div></div>
            </div>
            <div class="col-2 d-flex align-items-center justify-content-center">
                <h6>Arrival</h6>
            </div>
            <div class="col-1 d-flex align-items-center justify-content-center">
                <h6>Seat</h6>
            </div>
            <div class="col-1 d-flex align-items-center justify-content-center">
                <h6>Price</h6>
            </div>
        </div></div>
        <div class="row" style="text-align: center; padding: 10px">
            <div class="col-1 d-flex align-items-center justify-content-center">
                <h6>{{ passenger.passport_number }}</h6>
            </div>
            <div class="col-3 d-flex align-items-center justify-content-center">
                <h6>{{ passenger.first_name }} {{ passenger.last_name }}</h6>
            </div>
            <div class="col-1 d-flex align-items-center justify-content-center">
                <h6>{{ passenger.booking.flight.flight_number }}</h6>
            </div>
            <div class="col-2 align-items-center justify-content-center">
                <h6>{{ passenger.booking.flight.departure_airport }}</h6>
                <p>{{ passenger.booking.flight.departure_time }}</p>
            </div>
            <div class="col-1 d-flex align-items-center justify-content-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8"/>
                </svg>
            </div>
            <div class="col-2 align-items-center justify-content-center">
                <h6>{{ passenger.booking.flight.arrival_airport }}</h6>
                <p>{{ passenger.booking.flight.arrival_time }}</p>
            </div>
            <div class="col-1 d-flex align-items-center justify-content-center">
                <h6>{{ passenger.seat.seat_number }}</h6>
            </div>
            <div class="col-1 d-flex align-items-center justify-content-center">
                <h6>{{ passenger.seat.price }}</h6>
            </div>
        </div>
                  
    </div>
                
            {% endfor %}
        </div>
    {% else %}
        <p>You have no booked flights.</p>
    {% endif %}
    
    
{% endblock %}
